<!DOCTYPE html>
<html>
<head>
    <title>Vue</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-swatches/dist/vue-swatches.min.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-color/2.2.3/vue-color.js"></script>
    <script src="app.js"></script>
</head>
<body>

<div id="app">
    <div class="container">

        <div class="picker">
            <input id="fg-color" v-on:focus="isOpen = false" type="text" maxlength="7" v-model="colors.hex" />
            <button class="fg-color-sample" v-on:click="toggle" v-bind:style="{ background: colors.hex }"></button>
        </div>
        <chrome-picker v-show="isOpen" v-model="colors" ></chrome-picker>


        <input v-model="message" placeholder="Your Name">


        <div class="panda panda-variable-color">
            <div class="ear ear--left panda-variable-color" v-bind:style="{ background: colors.hex  }"></div>
            <div class="ear ear--right panda-variable-color" v-bind:style="{ background: colors.hex }"></div>
            <div class="eye eye--left" v-bind:style="{ background: colors.hex }"></div>
            <div class="eye eye--right" v-bind:style="{ background: colors.hex }"></div>
            <div class="nose" v-bind:style="{ background: colors.hex }"></div>
            <div class="mouth" v-bind:style="{ background: colors.hex }"></div>
            <div class="bamboo-stem"></div>
            <div class="hand hand--left panda-variable-color" v-bind:style="{ background: colors.hex }"></div>
            <div class="hand hand--right panda-variable-color" v-bind:style="{ background: colors.hex }"></div>
            <p>Seni biliyorum <br> {{ message }}</p>
        </div>

    </div>
</div>

</body>
</html>